@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes slide-left {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
    .animate-slide {
      animation: slide-left 20s linear infinite;
    }
  }